.lexend-font {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* @font-face {
    font-family: 'iA Writer Mono';
    src: url('assets/font/iAWriterMonoV.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iA Writer Mono';
    src: url('assets/font/iAWriterMonoV-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
} */
body {
    font-family: 'Lexend', monospace !important;
    background-color: white;
}

p { 
    font-weight: 250 !important;
}
.blog-title {
    font-family: 'Lexend', sans-serif;
    color: black !important;
    text-decoration: none;
}
.category-btn {
    transition: all 0.2s;
    position: relative;
    padding: 2px;
    font-weight: 300;
}

.category-btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.2s;
}
.category-btn:hover::after {
    width: 100%;
    font-weight: 500;
}
.category-btn[onclick="filterArticles('all')"]:hover::after {
    background-color: black;
}
.category-btn[onclick="filterArticles('programming')"]:hover::after {
    background-color: #ef4444;
}
.category-btn[onclick="filterArticles('data')"]:hover::after {
    background-color: #3b82f6;
}
.category-btn[onclick="filterArticles('life')"]:hover::after {
    background-color: #22c55e;
}
.category-btn.active {
    color: #2563eb;
    font-weight: 500;
}
.category-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
}
.category-circle.all {
    background-color: black;
}
.category-circle.programming {
    background-color: #ef4444;
}
.category-circle.data {
    background-color: #3b82f6;
}
.category-circle.life {
    background-color: #22c55e;
}
